body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}
